* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'STIX Two Text', serif;
  color: #30336b;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(223, 249, 251, 0.4);
}
header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container {
  width: 90%;
  height: 85%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    30deg,
    rgba(121, 156, 255, 0.7),
    rgba(222, 30, 121, 0.7)
  );
}
h1 {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav button {
  all: unset;
  width: auto;
  background-color: rgb(248, 245, 250);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}
.nav button:hover {
  background-color: rgb(221, 218, 222);
}
main {
  height: 75vh;
  overflow-y: auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgba(0, 206, 201, 0.3);
}

/* section */
section {
  position: relative;
  width: 90%;
  height: 300px;
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 254, 0.3);
}
.image .contents,
.video .contents {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.video video {
  height: 80%;
  object-fit: contain;
}
.title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}
.note,
.task {
  height: auto;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.note .title,
.task .title {
  color: #4834d4;
}
.close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 8px 10px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.close-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* dialog */
.dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(21, 21, 21, 0.8);
  z-index: 10;
}
.dialog {
  width: 80%;
  height: auto;
  padding: 1rem;
  margin: 10vh auto 0;
  border-radius: 10px;
  color: #30336b;
  background-color: rgb(126, 214, 223);
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.row {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.row label {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.row input {
  padding: 5px 10px;
}
.button-container {
  display: flex;
  align-self: flex-end;
}
.button-container button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}
.add-button:hover {
  color: white;
  background-color: #22a6b3;
}
.cancel-button:hover {
  color: white;
  background-color: #eb4d4b;
}

.hidden {
  display: none;
}
