* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: url('../assets/background.webp') center/cover no-repeat;
  overflow: hidden;
}
.app {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

/* header style */
header {
  height: 20vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .title {
  padding: 10px 20px;
  margin: 10px auto;
  color: crimson;
  font-size: 3rem;
}
header .control-panel {
  display: flex;
  list-style: none;
}
header .upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  margin: 15px 5px;
  font-weight: bold;
  color: white;
  background-color: #ff2400;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  border: none;
}
header .upload-button:hover {
  background-color: crimson;
}

/* main style */
main {
  height: 75vh;
  padding: 2rem 3rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;
}
main::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: #2d2d2d;
  width: 8px;
}
main::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: #f9ca24;
  border-radius: 3px;
}

/* footer style */
footer {
  height: 5vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
